COMPLIANCE_SERVICE_HOST=0.0.0.0
COMPLIANCE_SERVICE_PORT=7003
COMPLIANCE_SERVICE_EXTERNAL_URL=chs.paywith.glass
COMPLIANCE_SERVICE_PROTOCOL=https
COMPLIANCE_SERVICE_GRPC_PORT=7103

LOG_LEVEL=DEBUG

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=compliance_service_database

PW_GITLAB_USER_LOGIN=***
PW_GITLAB_USER_TOKEN=***